# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
# Build Artifacts

.gradle/
build/
target/
bin/

# Eclipse Project Files

.classpath
.project
.settings/